{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi":[0],
    "func-names": [0],
    "import/prefer-default-export":[0],
    "linebreak-style": 0,
    "react/jsx-one-expression-per-line": [{ "allow": "single-child" }],
    "react/no-array-index-key" : [0]

  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}